body{
    margin:0;
    background:black;
    font-family:Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.my-logo{
    height: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 6px;
}

nav ul li a {
    text-decoration: none;
    color: #f4c10f;
    font-size: 16px;
    transition: 0.3s;
}



.header-right-link{
    text-decoration: none;
    color:#f4c10f;
    z-index: 1;
    position: relative;
    padding: 20px 10px;
}

.header-right-link::after{
    content: "";
    position: absolute;
    background-color:#f4c10f;
    z-index: -1;
    inset: 0;
    
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
}

.header-right-link:hover::after{
    transition: 0.3s;
    transform: scaleX(1);
  
}
.header-right-link:hover{
    color: #000;
}

html{
scroll-behavior: smooth;
}


.teachers{
    width:80%;
    margin:auto;
    padding:50px 0;
}

.teacher{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:80px;
}

  
.text{
    width:45%;
}

.text h2{
    color:#ffcc00;
    font-size:48px;
    margin-bottom:10px;
}

.text p{
    color:#ffcc00;
   
}

.image{
    width:40%; 
    transition: 1.2s;
}

.image img{
    width:100%;
    border-radius:15px;
}

.image:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgb(234, 202, 0);
}